

h1{

    margin: auto;

}

header{

    background-color: yellow;
    text-align: center;
    margin: 4px auto;
    min-width: 20%;
    max-width: 98%;
    border-radius: 20px 20px 0px 0px;

}

body{

    height: 94vh;
    margin: auto 2px;

}
#conteudo{

    background: black;
    height: 400px;
    width: 400px;
    margin: auto;

}
footer > p{
    text-align: center;
}

