

h1{

    margin: auto;

}

header{

    background-color: yellow;
    text-align: center;
    margin: 4px auto;
    min-width: 20%;
    max-width: 98%;
    border-radius: 20px 20px 0px 0px;

}

body{

    height: 94vh;
    margin: auto 2px;

}
#conteudo{

    transition: .4s;
    background-image: url(img/bolo.jpg);
    background-size: cover;
    height: 400px;
    width: 400px;
    margin: auto;

}
#conteudo.active{

    transition: .8s;
    border-radius: 50%;

}
#conteudo h1{

    text-align: center;
    transition: .4s;
    color: white;

}
#conteudo.active h1{

    transition: .4s;
    color: black;

}
footer > p{
    text-align: center;
}

